.feedback {
    background-color: #222;
    padding: 160px 0;
    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid yellow;
        width: 700px;
        margin: 0 auto;
        background-color: #222;
        &-title h2 {
            color: #fff;
            font-size: 32px;
        }
        &-phone {
            padding-left: 20px;
        }
    }
}

// .feedback__section-title {}
// .feedback__section-text {}
// .feedback__section-phone {}
// .feedback__phone-btn {}