.section__header {
    background-color: #2f414b;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px;
}

.header__logo {
    font-size: 32px;
    font-weight: regular;
    color: #fff;
    padding-left: 20px;
}

.header__menu {
    padding-right: 20px;
    ul a {
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            transition: all .3s;
            color: #a0f5e7;
            font-weight: 500;
        }
    }
    a+a {
        margin-left: 30px;
    }
}