    .slider__item {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 140px;
        &-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 500px;
        }
    }
    
    ul li {
        display: inline-block;
        text-align: center;
        &+li {
            margin-left: 20px;
        }
    }