.slider__item {
    max-width: 99%;
    margin: 0 auto;
    padding: 140px 0;
    &-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        cursor: pointer;
    }
}